<div ng-include="'partials/navbar'"></div>


<div class="jumbotron">

    <div class="button-holder" ng-show="photo.name">
        <form action="api/vote/cute" method="post">
            <input type="hidden" name="photo" value="{{photo.name}}" />
            <input type="submit" value="Cute!" />
        </form>
        <form action="api/vote/notcute" method="post">
            <input type="hidden" name="photo" value="{{photo.name}}" />
            <input type="submit" value="Not Cute!" />
        </form>
    </div>

    <img ng-show="photo.name" ng-src="images_vote/{{photo.name}}" width="530"  alt="Picture" />

    <h3 ng-hide="photo.name">No more photos to vote on! Check out the <a href="./vote/board">Result</a>.</h3>
</div>
