/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


body{
	font:15px/1.3 'Open Sans', Arial, Helvetica, sans-serif;
	padding-bottom: 100px;
}

a, a:visited {
	outline:none;
	color:#389dc1;
}

a:hover{
	text-decoration:none;
}

section, footer, header, aside{
	display: block;
}


/*-------------------------
	Header & Titles
--------------------------*/


header{
	padding:20px;
	text-align: center;
}

header h1{
	font-size:40px;
	line-height:60px;
	color:#45bad3;
}

header h1 span.green{
	color:#61a64f;
}

header h1 span.red{
	color:#eb263a;
}

header h2{
	font-size:16px;
	color:#819fa8;
}

h3{
	padding-top: 80px;
	text-align: center;
}

h1,h2,h3{
	font-weight:300;
}


/*-------------------------
	The Tabs
--------------------------*/


nav{
	display:block;
	margin-top:20px;
	text-align:center;
}

nav a{
	display:inline-block;
	border-radius:3px;
	padding: 5px 15px;
	color:#e1ba4c !important;
	font-weight:bold;
	text-decoration:none !important;
	text-transform: uppercase;
}

nav a.active{
	background-color:#f2f2f2;
	cursor:default !important;
}


/*-------------------------
	Photo and Buttons
--------------------------*/

.image-vote{
	display:block;
	margin:20px auto;
	border-radius: 3px;
	max-width: 90%;
}
.button-holder{
	margin:0 auto;
	text-align:center;
}

.button-holder form{
	display:inline-block;
}

.button-holder form input{
	cursor:pointer;
	border:0;
	padding: 16px 20px 16px 60px;
	color:#fff;
	font:inherit;
	border-radius:3px;
	margin:0 5px;
	font-size:24px;
	outline:none;
}

.button-holder form input:active{
	position:relative;
	bottom:-1px;
}

.button-holder form input:hover{
	opacity:0.9;
}


/* The Cute! button */

.button-holder form:first-child input{
	background: url('../img/sprite.svg') #aadb9c 17px -86px no-repeat;
}

/* The Not Cute! button */

.button-holder form:last-child input{
	background: url('../img/sprite.svg') #f3818d 17px 18px no-repeat;
}



/*-------------------------
	Standings List
--------------------------*/


ul{
	width: 210px;
	margin:60px auto;
	counter-reset:ranks;
}

ul li{
	list-style:none;
	padding: 20px;
	background-color:#f6f6f6;
	border-radius:3px;
	position:relative;
	width:168px;
	margin-bottom: 30px;
}

ul li:before{
	counter-increment: ranks;
	content: counter(ranks);
	position: absolute;
	top: 64px;
	left: -100px;
	font-size: 28px;
	font-weight: bold;
	color: #aaa;
	text-align: right;
	width: 40px;
}

ul li img{
	max-width:168px;
	border-radius:3px;
}

ul li p{
	position: absolute;
	left: 240px;
	top: 40px;
	background: url('../img/sprite.svg') no-repeat;
	line-height: 40px;
	font-weight: bold;
	font-size: 24px;
	padding-left: 57px;
}

ul li p.up{
	color:#90d184;
	background-position: 17px -300px;
}

ul li p.down{
	color:#e67a85;
	top:82px;
	background-position: 17px -192px;
}
