<div class="page page-table" data-ng-controller="revealSlidesCtrl">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Reveal slides</strong></div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="search"
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{filteredStores.length}}/{{stores.length}} entries
                    </span>
                </div>
                <a class="btn btn-info" href ="#!/reveal/decks/{{deckId}}/slide">Add slide</a>
                <a class="btn btn-info" href="#!/reveal/decks/{{deckId}}/preview">Slide show</a>
                <button class="btn btn-info" ng-click="Delete()">Delete deck</button>
            </div>
        </div>
        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th><div class="th">
                        Slide name
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('name') "
                              data-ng-class="{active: row == 'name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-name') "
                              data-ng-class="{active: row == '-name'}"></span>
                    </div></th>
                    <th><div class="th">
                        Price
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('content') "
                              data-ng-class="{active: row == 'price'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-content') "
                              data-ng-class="{active: row == '-price'}"></span>
                    </div></th>
                    <th> x </th>
                    <th> y </th>
                    <th> - </th>
                    <th> - </th>
                    <th> - </th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="slide in currentPage">
                    <td><a href="#!/reveal/decks/{{deckId}}/slides/{{slide._id}}">{{slide.name}}</a></td>
                    <td>{{slide.content}}</td>
                    <td><input type="text" class="form-control" placeholder="X" data-ng-model="slide.x"></td>
                    <td><input type="text" class="form-control" placeholder="y" data-ng-model="slide.y"></td>
                    <td><a class="btn btn-info" data-ng-click="edit(slide)">Edit</a></td>
                    <td><a class="btn btn-info" data-ng-click="copy(slide)">Copy</a></td>
                    <td><a class="btn btn-info" data-ng-click="delete(slide)">Delete</a></td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select>
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                page="currentPage"
                                total-items="filteredStores.length"
                                max-size="4"
                                on-select-page="select(page)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>

</div>
